body {
    font-family: 'Lobster', cursive;
    // font-family: 'Abril Fatface', cursive;
    // font-family: 'Jua', sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 1.7;
    padding: 3rem;
    box-sizing: border-box;
  }